<section class="about" id="about">
  <div class="light-2"></div>
  <div class="container">



    <div class="ball-1"></div>
    <div class="big-ball-1"></div>
    <div class="ball-4"></div>




    <div class="col-12">

      <p>I'm Omar Waheed AbdElbary. I'm a Front-End Developer. Passionate front-end developer creating
        engaging and userfriendly web applications. I Proficient in HTML, CSS, JavaScript, and various
        front-end frameworks. Strong
        understanding of UI/UX principles and a keen eye for design. Committed to delivering high-quality
        code and
        continuously expanding knowledge in the ever-evolving field of web development. </p>
    </div>





    <div class="col-12 text-center">
      <h3>knowledge</h3>

    </div>

    <div class="col-12">


      <div class="know-img-1 text-center">
        <div class="row">
          <div class="col-lg-3 col-sm-12 col-md-3">
            <img src="assets/img/html.png" class="img-fluid" alt="">

          </div>

          <div class="col-lg-3 col-sm-12 col-md-3">
            <img src="assets/img/css.png" class="img-fluid" alt="">

          </div>

          <div class="col-lg-3 col-sm-12 col-md-3">
            <img src="assets/img/bootstrap.png" class="img-fluid" alt="">

          </div>

          <div class="col-lg-3 col-sm-12 col-md-3">
            <img src="assets/img/js.png" class="img-fluid" alt="">

          </div>
        </div>
      </div>
    </div>




    <div class="col-12">
      <div class="know-img-2 text-center">
        <div class="row">
          <div class="col-lg-3 col-sm-12 col-md-3">
            <img src="assets/img/git.png" class="img-fluid" alt="">

          </div>

          <div class="col-lg-3 col-sm-12 col-md-3">
            <img src="assets/img/github.png" class="img-fluid" alt="">

          </div>

          <div class="col-lg-3 col-sm-12 col-md-3">
            <img src="assets/img/npm.png" class="img-fluid" alt="">

          </div>

          <div class="col-lg-3 col-sm-12 col-md-3">
            <img src="assets/img/notion.png" class="img-fluid" alt="">

          </div>
        </div>
      </div>
    </div>





    <div class="col-12 text-center">
      <h3>Current Learning</h3>

    </div>


    <div class="col-12 ">
      <div class="current-learn">
        <div class="row">

          <div class="col-lg-3 col-sm-12 col-md-3">

            <img src="assets/img/angular.png" class="img-fluid" alt="">

          </div>

          <div class="col-lg-3 col-sm-12 col-md-3">

            <img src="assets/img/typescript.png" class="img-fluid" alt="">

          </div>

        </div>
      </div>

    </div>






    <div class="col-12 text-center">
      <h3>I Will Learn</h3>

    </div>

    <div class="col-12">
      <div class="will-learn-img">
        <div class="row">

          <div class="col-lg-3 col-sm-12 col-md-3">
            <img src="assets/img/php.png" class="img-fluid" alt="">
          </div>

          <div class="col-lg-3 col-sm-12 col-md-3">
            <img src="assets/img/database.webp" class="img-fluid" alt="">
          </div>

          <div class="col-lg-3 col-sm-12 col-md-3">
            <img src="assets/img/wordpress.png" class="img-fluid" alt="">
          </div>

          <div class="col-lg-3 col-sm-12 col-md-3">
            <img src="assets/img/laravel-1-logo.png" class="img-fluid" alt="">
          </div>

        </div>
      </div>
    </div>






  </div>
</section>

