<section class="projects" id="projects">
  <div class="light-3"></div>

  <div class="container">

    <div class="ball-1"></div>
    <div class="big-ball-1"></div>
    <div class="ball-4"></div>






    <div class="col-12">
      <div class="projects-info">
        <div class="row">
          <div class="col-lg-4 col-sm-12 col-md-6">
            <div class="img-info">
              <img src="assets/img/portfolio.jpg" class="img-fluid" alt="">
              <div class="icon-info">
                <a href="https://omar-abdelbary.github.io/MyPortfolio/"> <i class="fa-solid fa-globe"></i> </a>
                <a href="https://github.com/Omar-abdelbary/MyPortfolio"> <i class="fa-solid fa-code"></i> </a>

              </div>
            </div>

          </div>

          <div class="col-lg-4 col-sm-12 col-md-6">
            <div class="img-info">
              <img src="assets/img/rapid.jpg" class="img-fluid" alt="">

              <div class="icon-info">
                <a href="https://omar-abdelbary.github.io/RAPID/"> <i class="fa-solid fa-globe"></i>
                </a>
                <a href="https://github.com/Omar-abdelbary/RAPID"> <i class="fa-solid fa-code"></i>
                </a>

              </div>
            </div>

          </div>

          <div class="col-lg-4 col-sm-12 col-md-6">
            <div class="img-info">
              <img src="assets/img/herobiz.jpg" class="img-fluid" alt="">

              <div class="icon-info">
                <a href="https://omar-abdelbary.github.io/HeroBiz/"> <i class="fa-solid fa-globe"></i> </a>
                <a href="https://github.com/Omar-abdelbary/HeroBiz"> <i class="fa-solid fa-code"></i> </a>

              </div>
            </div>

          </div>



        </div>
      </div>
    </div>





    <div class="col-12">
      <div class="projects-info">
        <div class="row">
          <div class="col-lg-4 col-sm-12 col-md-6">
            <div class="img-info">
              <img src="assets/img/sigmaStar.jpg" class="img-fluid" alt="">
              <div class="icon-info">
                <a href="https://omar-abdelbary.github.io/sigma-star/"> <i class="fa-solid fa-globe"></i> </a>
                <a href="https://github.com/Omar-abdelbary/sigma-star"> <i class="fa-solid fa-code"></i> </a>

              </div>
            </div>

          </div>

          <div class="col-lg-4 col-sm-12 col-md-6">
            <div class="img-info">
              <img src="assets/img/rolex.jpg" class="img-fluid" alt="">

              <div class="icon-info">
                <a href="https://omar-abdelbary.github.io/Rolex/"> <i class="fa-solid fa-globe"></i>
                </a>
                <a href="https://github.com/Omar-abdelbary/Rolex"> <i class="fa-solid fa-code"></i>
                </a>

              </div>
            </div>

          </div>

          <div class="col-lg-4 col-sm-12 col-md-6">
            <div class="img-info">
              <img src="assets/img/shokran.jpg" class="img-fluid" alt="">

              <div class="icon-info">
                <a href="https://omar-abdelbary.github.io/Shokran/"> <i class="fa-solid fa-globe"></i> </a>
                <a href="https://github.com/Omar-abdelbary/Shokran"> <i class="fa-solid fa-code"></i> </a>

              </div>
            </div>

          </div>



        </div>
      </div>
    </div>







    <div class="col-12">
      <div class="projects-info">
        <div class="row">
          <div class="col-lg-4 col-sm-12 col-md-6">
            <div class="img-info">
              <img src="assets/img/new biz.jpg" class="img-fluid" alt="">
              <div class="icon-info">
                <a href="https://omar-abdelbary.github.io/NEWBIZ/"> <i class="fa-solid fa-globe"></i> </a>
                <a href="https://github.com/Omar-abdelbary/NEWBIZ"> <i class="fa-solid fa-code"></i>
                </a>

              </div>
            </div>

          </div>

          <div class="col-lg-4 col-sm-12 col-md-6">
            <div class="img-info">
              <img src="assets/img/yummy.jpg" class="img-fluid" alt="">

              <div class="icon-info">
                <a href="https://omar-abdelbary.github.io/Yummy/"> <i class="fa-solid fa-globe"></i>
                </a>
                <a href="https://github.com/Omar-abdelbary/Yummy"> <i class="fa-solid fa-code"></i>
                </a>

              </div>
            </div>

          </div>

          <div class="col-lg-4 col-sm-12 col-md-6">
            <div class="img-info">
              <img src="assets/img/tm.jpg" class="img-fluid" alt="">

              <div class="icon-info">
                <a href="https://omar-abdelbary.github.io/TypeMaster-Pre-LaunchLandingPage/"> <i
                    class="fa-solid fa-globe"></i> </a>
                <a href="https://github.com/Omar-abdelbary/TypeMaster-Pre-LaunchLandingPage"> <i
                    class="fa-solid fa-code"></i> </a>

              </div>
            </div>

          </div>



        </div>
      </div>
    </div>













    <div class="col-12">
      <div class="projects-info">
        <div class="row">
          <div class="col-lg-4 col-sm-12 col-md-6">
            <div class="img-info">
              <img src="assets/img/snipper.jpg" class="img-fluid" alt="">
              <div class="icon-info">
                <a href="https://omar-abdelbary.github.io/Snipper/"> <i class="fa-solid fa-globe"></i> </a>
                <a href="https://github.com/Omar-abdelbary/Snipper"> <i class="fa-solid fa-code"></i> </a>

              </div>
            </div>

          </div>

          <div class="col-lg-4 col-sm-12 col-md-6">
            <div class="img-info">
              <img src="assets/img/snap.jpg" class="img-fluid" alt="">

              <div class="icon-info">
                <a href="https://omar-abdelbary.github.io/snap/"> <i class="fa-solid fa-globe"></i>
                </a>
                <a href="https://github.com/Omar-abdelbary/snap"> <i class="fa-solid fa-code"></i>
                </a>

              </div>
            </div>

          </div>

          <div class="col-lg-4 col-sm-12 col-md-6">
            <div class="img-info">
              <img src="assets/img/w..jpg" class="img-fluid" alt="">

              <div class="icon-info">
                <a href="https://omar-abdelbary.github.io/W./"> <i class="fa-solid fa-globe"></i>
                </a>
                <a href="https://github.com/Omar-abdelbary/W."> <i class="fa-solid fa-code"></i>
                </a>

              </div>
            </div>

          </div>



        </div>
      </div>
    </div>













    <div class="col-12">
      <div class="projects-info">
        <div class="row">
          <div class="col-lg-4 col-sm-12 col-md-6">
            <div class="img-info">
              <img src="assets/img/iphone13.jpg" class="img-fluid" alt="">
              <div class="icon-info">
                <a href="https://omar-abdelbary.github.io/IPHONE-13/"> <i class="fa-solid fa-globe"></i> </a>
                <a href="https://github.com/Omar-abdelbary/IPHONE-13"> <i class="fa-solid fa-code"></i> </a>

              </div>
            </div>

          </div>

          <div class="col-lg-4 col-sm-12 col-md-6">
            <div class="img-info">
              <img src="assets/img/fiber.jpg" class="img-fluid" alt="">

              <div class="icon-info">
                <a href="https://omar-abdelbary.github.io/Fiber/"> <i class="fa-solid fa-globe"></i>
                </a>
                <a href="https://github.com/Omar-abdelbary/Fiber"> <i class="fa-solid fa-code"></i>
                </a>

              </div>
            </div>

          </div>

          <div class="col-lg-4 col-sm-12 col-md-6">
            <div class="img-info">
              <img src="assets/img/web.po.jpg" class="img-fluid" alt="">

              <div class="icon-info">
                <a href="https://omar-abdelbary.github.io/Web-Developer-Portfolio-Challenge/"> <i
                    class="fa-solid fa-globe"></i> </a>
                <a href="https://github.com/Omar-abdelbary/Web-Developer-Portfolio-Challenge"> <i
                    class="fa-solid fa-code"></i> </a>

              </div>
            </div>

          </div>



        </div>
      </div>
    </div>





  </div>
</section>
